<h1>MISION TIC2022</h1>
<h1>CICLO 1 DE FORMACIÓN: Fundamentos de Programación</h1>
<h1>Bases de Datos NoSQL - MONGO</h1>


[Elizabeth León G](https://dis.unal.edu.co/~eleonguz/), Universidad Nacional de Colombia

------------
Notebook con información de instalación de mongo e interacción con mongo desde python en COLAB usando libreria **pymongo**. Se usan sentencias CRUD.

--------------
------------

## Instalación de Mongo y Pymongo

Instalacion de Mongo e iniciar el servidor de Mongo para que este disponible para ser usado por el cliente.

In [2]:
!apt-get install mongodb >log
!service mongodb start

"apt-get" no se reconoce como un comando interno o externo,
programa o archivo por lotes ejecutable.
"service" no se reconoce como un comando interno o externo,
programa o archivo por lotes ejecutable.

Instalación de Pymongo

In [3]:
import sys
!{sys.executable} -m pip install pymongo

Requirement already satisfied: pymongo in c:\users\carlos\anaconda3\lib\site-packages (3.11.0)

Importar Pymongo

In [4]:
import pymongo
from pymongo  import MongoClient

## Conexión al servidor de mongo

Para conectarse al servidor es necesario crear una conexión con *MongoClient*, pasando la ip del servidor y el puerto. Como estamos trabajando localmente (en COLAB) se usa "localhost" o "127.0.0.1" y el puerto por defecto de mongo es 27017

In [5]:
mongoClient =  MongoClient('127.0.0.1', port = 27017)
#mongoClient =  MongoClient('localhost', port = 27017)

## Selección/Creación de la base de datos

Listar todas las bases de datos que existen en Mongo

In [6]:
print(mongoClient.list_database_names())

['admin', 'config', 'local', 'prueba', 'restaurante']

Crear la base de datos *prueba*

In [9]:
miDb = mongoClient.prueba
miDb

Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'prueba')

## Selección/Creación de colección

Crear la colección *producto* en la base de datos *restaurante*

In [10]:
miCol = miDb.producto
miCol

Collection(Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'prueba'), 'producto')

## Interactuando con Mongo - CRUD


### Inserción de datos  - **C**reation   
1. Insertar un documento de Producto en la colección. Creamos el documento en un diccionario, usamos los nombres de las claves entre comillas dobles.

In [12]:
miProducto = {
  "_id" : 1,
  "nombre" : "BigBurger",
  "precio" : 25000,
  "existencias" : 30,
  "categoría" : "Hamburguesa",
  "ingredientes" : {
    "pan" : "arabe",
    "salsa" : ["tomate", "mayonesa"],
    "vegetales" : ["lechuga", "tomate"]
  }
}

2. Insertamos el documento (diccionario) en la colección, e imprimimos el id del documento insertado.

In [13]:
x = miCol.insert_one(miProducto)
print(x.inserted_id)

1

3. Podemos ver las colecciones que existen en la base de datos:

In [14]:
print(miDb.list_collection_names())

['producto']

4. Insertamos dos documentos más en la colección:

In [15]:
miProducto = {
  "_id" : 2,
  "nombre" : "Malteada Rosa",
  "precio" : 15000,
  "existencias" : 50,
  "categoría" : "Bebida",
  "ingredientes" : {
    "helado" : "fresa",
    "fruta" : "fresa"
  }
}
x = miCol.insert_one(miProducto)
print(x.inserted_id)

2

In [16]:
miProducto = {"_id" : 3,
  "nombre" : "Casera",
  "precio" : 20000,
  "existencias" : 45,
  "categoría" : "Hamburguesa",
  "ingredientes" : {
    "pan" : "con ajonjolí",
    "salsa" : ["tomate", "mayonesa", "mostaza"],
    "vegetales" : ["lechuga", "tomate", "cebolla"]
  }
}
x = miCol.insert_one(miProducto)
print(x.inserted_id)

3

5. Se pueden insertar varios documentos al mismo tiempo. Para esto se debe crear una lista de diccionarios, y se insert en la colección con el comando *insert_many* de Pymongo

In [17]:
miLista = [
  { "_id": 4,  "nombre": "Malteada de Maracuya", "precio" : 15000, "existencias" : 50, "categoría" : "Bebida", "ingredientes" : { "helado" : "maracuya"} },
  { "_id": 5,  "nombre": "Limonada Natural", "precio" : 5000,"existencias" : 20, "categoría" : "Bebida", "ingredientes" : { "fruta" : "limón"} },
  { "_id": 6,  "nombre": "Criolla", "precio" : 35000,"existencias" : 10, "categoría" : "Hamburguesa", "ingredientes" : { "pan" : "común", "salsa" : ["tomate", "mayonesa", "mostaza"],"vegetales" : ["lechuga", "tomate", "cebolla"]}}
]

x = miCol.insert_many(miLista)
print(x.inserted_ids)

[4, 5, 6]

### ***Ejercicio***
Insertar dos documentos más. Tener cuidado en asignar valores diferentes para los identificadores (_id). Deben ser únicos para cada producto.

In [33]:
miLista = [
  { "_id": 7,  "nombre": "Queso", "precio" : 1000, "existencias" : 50, "categoría" : "Mercado", "ingredientes" : { "helado" : "maracuya"} },
  { "_id": 8,  "nombre": "Arroz", "precio" : 500,"existencias" : 20, "categoría" : "Mercado", "ingredientes" : { "fruta" : "limón"} }
]
x = miCol.insert_many(miLista)
print(x.inserted_ids)

[7, 8]

### Lectura de datos - Búsqueda - **R**ead

1. Encuentra el primer producto en la colección con *find_one*:

In [18]:
x = miCol.find_one()

print(x)

{'_id': 1, 'nombre': 'BigBurger', 'precio': 25000, 'existencias': 30, 'categoría': 'Hamburguesa', 'ingredientes': {'pan': 'arabe', 'salsa': ['tomate', 'mayonesa'], 'vegetales': ['lechuga', 'tomate']}}

2. Usando *find* encuentra todos los documentos en la colección. Para visualizarlos se extrae documento por documento del resultado de la lectura (se usa un for)

In [19]:
for x in miCol.find():
  print(x)

{'_id': 1, 'nombre': 'BigBurger', 'precio': 25000, 'existencias': 30, 'categoría': 'Hamburguesa', 'ingredientes': {'pan': 'arabe', 'salsa': ['tomate', 'mayonesa'], 'vegetales': ['lechuga', 'tomate']}}
{'_id': 2, 'nombre': 'Malteada Rosa', 'precio': 15000, 'existencias': 50, 'categoría': 'Bebida', 'ingredientes': {'helado': 'fresa', 'fruta': 'fresa'}}
{'_id': 3, 'nombre': 'Casera', 'precio': 20000, 'existencias': 45, 'categoría': 'Hamburguesa', 'ingredientes': {'pan': 'con ajonjolí', 'salsa': ['tomate', 'mayonesa', 'mostaza'], 'vegetales': ['lechuga', 'tomate', 'cebolla']}}
{'_id': 4, 'nombre': 'Malteada de Maracuya', 'precio': 15000, 'existencias': 50, 'categoría': 'Bebida', 'ingredientes': {'helado': 'maracuya'}}
{'_id': 5, 'nombre': 'Limonada Natural', 'precio': 5000, 'existencias': 20, 'categoría': 'Bebida', 'ingredientes': {'fruta': 'limón'}}
{'_id': 6, 'nombre': 'Criolla', 'precio': 35000, 'existencias': 10, 'categoría': 'Hamburguesa', 'ingredientes': {'pan': 'común', 'salsa': ['tomate', 'mayonesa', 'mostaza'], 'vegetales': ['lechuga', 'tomate', 'cebolla']}}

3. El método find(), puede ser usado para retornar solo algunos atributos. Para ello en el segundo parámetro se especifica que campos se desean devolver, con 1 se devuelve. El siguiente ejemplo devuelve el nombre de todos los productos:

In [20]:
for x in miCol.find({},{ "nombre": 1 }):
  print(x)

{'_id': 1, 'nombre': 'BigBurger'}
{'_id': 2, 'nombre': 'Malteada Rosa'}
{'_id': 3, 'nombre': 'Casera'}
{'_id': 4, 'nombre': 'Malteada de Maracuya'}
{'_id': 5, 'nombre': 'Limonada Natural'}
{'_id': 6, 'nombre': 'Criolla'}

4. Para consultar documentos que contengan una condición especial "clave:valor", se usa el método find() y en el primer parametro se coloca la condición de la consulta:

In [21]:
miConsulta = { "nombre" : "Malteada Rosa" }
miDoc = miCol.find(miConsulta)

for x in miDoc:
  print(x)

{'_id': 2, 'nombre': 'Malteada Rosa', 'precio': 15000, 'existencias': 50, 'categoría': 'Bebida', 'ingredientes': {'helado': 'fresa', 'fruta': 'fresa'}}

5. La siguiente consulta tiene criterio de búsqueda y retorna solo dos de los campos

In [22]:
miConsulta = { "nombre" : "Malteada Rosa" }
miDoc = miCol.find(miConsulta,{"nombre" : 1, "precio": 1})

for x in miDoc:
  print(x)

{'_id': 2, 'nombre': 'Malteada Rosa', 'precio': 15000}

6. Buscar documentos con condiciones AND (precio = 20000 Y (AND) categoría = "Hamburguesa")

In [23]:
miConsulta = { "precio" : 20000, "categoría":"Hamburguesa" }
miDoc = miCol.find(miConsulta,{"nombre" : 1, "precio": 1})

for x in miDoc:
  print(x)

{'_id': 3, 'nombre': 'Casera', 'precio': 20000}

7. Buscar documentos con documentos embebidos. Buscar los productos que tienen lechuga en sus ingredientes vegetales.

In [24]:
miConsulta = { "ingredientes.vegetales" : "lechuga" }
miDoc = miCol.find(miConsulta)

for x in miDoc:
  print(x)

{'_id': 1, 'nombre': 'BigBurger', 'precio': 25000, 'existencias': 30, 'categoría': 'Hamburguesa', 'ingredientes': {'pan': 'arabe', 'salsa': ['tomate', 'mayonesa'], 'vegetales': ['lechuga', 'tomate']}}
{'_id': 3, 'nombre': 'Casera', 'precio': 20000, 'existencias': 45, 'categoría': 'Hamburguesa', 'ingredientes': {'pan': 'con ajonjolí', 'salsa': ['tomate', 'mayonesa', 'mostaza'], 'vegetales': ['lechuga', 'tomate', 'cebolla']}}
{'_id': 6, 'nombre': 'Criolla', 'precio': 35000, 'existencias': 10, 'categoría': 'Hamburguesa', 'ingredientes': {'pan': 'común', 'salsa': ['tomate', 'mayonesa', 'mostaza'], 'vegetales': ['lechuga', 'tomate', 'cebolla']}}

8. Buscar documentos que contengan alguno de los valores en una lista

In [25]:
miConsulta = { "ingredientes.salsa" : {"$in" : ["tomate", "mostaza"] }}
miDoc = miCol.find(miConsulta, {"nombre" : 1, "precio": 1, "ingredientes.salsa": 1})

for x in miDoc:
  print(x)

{'_id': 1, 'nombre': 'BigBurger', 'precio': 25000, 'ingredientes': {'salsa': ['tomate', 'mayonesa']}}
{'_id': 3, 'nombre': 'Casera', 'precio': 20000, 'ingredientes': {'salsa': ['tomate', 'mayonesa', 'mostaza']}}
{'_id': 6, 'nombre': 'Criolla', 'precio': 35000, 'ingredientes': {'salsa': ['tomate', 'mayonesa', 'mostaza']}}

### ***Ejercicio***
Realizar las siguientes consultas:

  1. Recuperar el precio del producto llamado "BigBurger". Solo el precio.
  2. Recuperar las Hamburguesas de precio mayor a $25000
  3. Recuperar las malteadas que tengan fresa
  4. Recuperar las hamburguesas que no tengan cebolla
  5. Definir dos consultas interesantes y realizarlas

In [34]:
miConsulta = { "nombre" : "BigBurger" }
miDoc = miCol.find(miConsulta,{"precio": 1})

for x in miDoc:
  print(x)

{'_id': 1, 'precio': 25000}

In [41]:
miConsulta = { "categoría": "Hamburguesa", "precio" :{"$gt": 25000}}
miDoc = miCol.find(miConsulta)

for x in miDoc:
  print(x)

{'_id': 6, 'nombre': 'Criolla', 'precio': 35000, 'existencias': 10, 'categoría': 'Hamburguesa', 'ingredientes': {'pan': 'común', 'salsa': ['tomate', 'mayonesa', 'mostaza'], 'vegetales': ['lechuga', 'tomate', 'cebolla']}}

In [52]:
miConsulta = { "nombre": { "$regex": "Malteada" }, "ingredientes.fruta" : "fresa"}
miDoc = miCol.find(miConsulta)

for x in miDoc:
  print(x)

{'_id': 2, 'nombre': 'Malteada Rosa', 'precio': 15000, 'existencias': 50, 'categoría': 'Bebida', 'ingredientes': {'helado': 'fresa', 'fruta': 'fresa'}}

In [12]:
miConsulta = { "categoría": "Hamburguesa", "ingredientes.vegetales" : {"$ne": "cebolla"}}
miDoc = miCol.find(miConsulta)

for x in miDoc:
  print(x)

{'_id': 1, 'nombre': 'BigBurger', 'precio': 25000, 'existencias': 30, 'categoría': 'Hamburguesa', 'ingredientes': {'pan': 'arabe', 'salsa': ['tomate', 'mayonesa'], 'vegetales': ['lechuga', 'tomate']}}

### Actualización de datos - **U**pdate

1. Para actualizar un documento se usa el método *update_one()*. El primer parámetro de *update_one()* es la condición del documento que se va a modificar, y el segundo parámetro es la pareja clave : valor que se modifica.

Las siguientes instrucciones modifican el precio del producto llamado "BigBurger" (el precio cambia a 35000)

In [ ]:
miCondicion = { "nombre": "BigBurger" }
nuevoValor = { "$set": { "precio": 35000} }

miCol.update_one(miCondicion, nuevoValor)

#imprimir los productos despues de modificar
for x in miCol.find():
  print(x)

{'_id': 1, 'nombre': 'BigBurger', 'precio': 35000, 'existencias': 30, 'categoría': 'Hamburguesa', 'ingredientes': {'pan': 'arabe', 'salsa': ['tomate', 'mayonesa'], 'vegetales': ['lechuga', 'tomate']}}
{'_id': 2, 'nombre': 'Malteada Rosa', 'precio': 15000, 'existencias': 50, 'categoría': 'Bebida', 'ingredientes': {'helado': 'fresa', 'fruta': 'fresa'}}
{'_id': 3, 'nombre': 'CaseraH', 'precio': 20000, 'existencias': 45, 'categoría': 'Hamburguesa', 'ingredientes': {'pan': 'con ajonjolí', 'salsa': ['tomate', 'mayonesa', 'mostaza'], 'vegetales': ['lechuga', 'tomate', 'cebolla']}}
{'_id': 4, 'nombre': 'Malteada de Maracuya', 'precio': 15000, 'existencias': 50, 'categoría': 'Bebida', 'ingredientes': {'helado': 'maracuya'}}
{'_id': 5, 'nombre': 'Limonada Natural', 'precio': 5000, 'existencias': 20, 'categoría': 'Bebida', 'ingredientes': {'fruta': 'limón'}}
{'_id': 6, 'nombre': 'Criolla', 'precio': 35000, 'existencias': 10, 'categoría': 'Hamburguesa', 'ingredientes': {'pan': 'común', 'salsa': ['tomate', 'mayonesa', 'mostaza'], 'vegetales': ['lechuga', 'tomate', 'cebolla']}}

2. Para modificar varios documentos al mismo tiempo, se usa *update_many()*. A continuación, se actualiza la categoría de los productos que el nombre inicie con la letra "M".

In [ ]:
miCondicion = { "nombre": { "$regex": "^M" } }
nuevoValor = { "$set": { "categoría": "Malteada" } }

x = miCol.update_many(miCondicion, nuevoValor)

#imprimir los productos despues de modificar
for x in miCol.find():
  print(x)

{'_id': 1, 'nombre': 'BigBurger', 'precio': 35000, 'existencias': 30, 'categoría': 'Hamburguesa', 'ingredientes': {'pan': 'arabe', 'salsa': ['tomate', 'mayonesa'], 'vegetales': ['lechuga', 'tomate']}}
{'_id': 2, 'nombre': 'Malteada Rosa', 'precio': 15000, 'existencias': 50, 'categoría': 'Malteada', 'ingredientes': {'helado': 'fresa', 'fruta': 'fresa'}}
{'_id': 3, 'nombre': 'CaseraH', 'precio': 20000, 'existencias': 45, 'categoría': 'Hamburguesa', 'ingredientes': {'pan': 'con ajonjolí', 'salsa': ['tomate', 'mayonesa', 'mostaza'], 'vegetales': ['lechuga', 'tomate', 'cebolla']}}
{'_id': 4, 'nombre': 'Malteada de Maracuya', 'precio': 15000, 'existencias': 50, 'categoría': 'Malteada', 'ingredientes': {'helado': 'maracuya'}}
{'_id': 5, 'nombre': 'Limonada Natural', 'precio': 5000, 'existencias': 20, 'categoría': 'Bebida', 'ingredientes': {'fruta': 'limón'}}
{'_id': 6, 'nombre': 'Criolla', 'precio': 35000, 'existencias': 10, 'categoría': 'Hamburguesa', 'ingredientes': {'pan': 'común', 'salsa': ['tomate', 'mayonesa', 'mostaza'], 'vegetales': ['lechuga', 'tomate', 'cebolla']}}

3. Incrementa el precio en $8000 a las hamburguesas:

In [ ]:
miCol.update_many({"categoría":"Hamburguesa"},{"$inc":{"precio":8000}})
#imprimir los productos despues de modificar
for x in miCol.find():
  print(x)

{'_id': 3, 'nombre': 'CaseraH', 'precio': 36000, 'existencias': 45, 'categoría': 'Hamburguesa', 'ingredientes': {'pan': 'con ajonjolí', 'salsa': ['tomate', 'mayonesa', 'mostaza'], 'vegetales': ['lechuga', 'tomate', 'cebolla']}}
{'_id': 5, 'nombre': 'Limonada Natural', 'precio': 5000, 'existencias': 20, 'categoría': 'Bebida', 'ingredientes': {'fruta': 'limón'}}
{'_id': 6, 'nombre': 'Criolla', 'precio': 51000, 'existencias': 10, 'categoría': 'Hamburguesa', 'ingredientes': {'pan': 'común', 'salsa': ['tomate', 'mayonesa'], 'vegetales': ['lechuga', 'tomate', 'cebolla']}}

4. El comando *$pull* remueve un elemento de una lista. A continuación se remueve la salsa de tomate del producto con _id = 6

In [ ]:
miCol.update_many({"_id":6},{"$pull":{"ingredientes.salsa":"tomate"}})
for x in miCol.find():
  print(x)

{'_id': 3, 'nombre': 'CaseraH', 'precio': 36000, 'existencias': 45, 'categoría': 'Hamburguesa', 'ingredientes': {'pan': 'con ajonjolí', 'salsa': ['tomate', 'mayonesa', 'mostaza'], 'vegetales': ['lechuga', 'tomate', 'cebolla']}}
{'_id': 5, 'nombre': 'Limonada Natural', 'precio': 5000, 'existencias': 20, 'categoría': 'Bebida', 'ingredientes': {'fruta': 'limón'}}
{'_id': 6, 'nombre': 'Criolla', 'precio': 51000, 'existencias': 10, 'categoría': 'Hamburguesa', 'ingredientes': {'pan': 'común', 'salsa': ['mayonesa'], 'vegetales': ['lechuga', 'tomate', 'cebolla']}}

### ***Ejercicio***
Realizar las siguientes actualizaciones:

  1. Aumentar el precio en 1000 a los productos que tengan helado de maracuya.
  2. Restar en 10 las cantidades de la Malteada con _id 2.
  3. Cambiar el ingrediente cebolla por pepinillos en todas las Hamburguesas.

### Borrado de datos - **D**elete

1. Borra un documento:

In [ ]:
miCol.delete_one({"nombre": "BigBurger"})
#imprimir los productos despues de modificar
for x in miCol.find():
  print(x)

{'_id': 2, 'nombre': 'Malteada Rosa', 'precio': 15000, 'existencias': 50, 'categoría': 'Malteada', 'ingredientes': {'helado': 'fresa', 'fruta': 'fresa'}}
{'_id': 3, 'nombre': 'CaseraH', 'precio': 28000, 'existencias': 45, 'categoría': 'Hamburguesa', 'ingredientes': {'pan': 'con ajonjolí', 'salsa': ['tomate', 'mayonesa', 'mostaza'], 'vegetales': ['lechuga', 'tomate', 'cebolla']}}
{'_id': 4, 'nombre': 'Malteada de Maracuya', 'precio': 15000, 'existencias': 50, 'categoría': 'Malteada', 'ingredientes': {'helado': 'maracuya'}}
{'_id': 5, 'nombre': 'Limonada Natural', 'precio': 5000, 'existencias': 20, 'categoría': 'Bebida', 'ingredientes': {'fruta': 'limón'}}
{'_id': 6, 'nombre': 'Criolla', 'precio': 43000, 'existencias': 10, 'categoría': 'Hamburguesa', 'ingredientes': {'pan': 'común', 'salsa': ['tomate', 'mayonesa', 'mostaza'], 'vegetales': ['lechuga', 'tomate', 'cebolla']}}

2. Borra varios documentos:

In [ ]:
miCol.delete_many({"categoría": "Malteada"})
#imprimir los productos despues de modificar
for x in miCol.find():
  print(x)

{'_id': 3, 'nombre': 'CaseraH', 'precio': 28000, 'existencias': 45, 'categoría': 'Hamburguesa', 'ingredientes': {'pan': 'con ajonjolí', 'salsa': ['tomate', 'mayonesa', 'mostaza'], 'vegetales': ['lechuga', 'tomate', 'cebolla']}}
{'_id': 5, 'nombre': 'Limonada Natural', 'precio': 5000, 'existencias': 20, 'categoría': 'Bebida', 'ingredientes': {'fruta': 'limón'}}
{'_id': 6, 'nombre': 'Criolla', 'precio': 43000, 'existencias': 10, 'categoría': 'Hamburguesa', 'ingredientes': {'pan': 'común', 'salsa': ['tomate', 'mayonesa', 'mostaza'], 'vegetales': ['lechuga', 'tomate', 'cebolla']}}

### ***Ejercicio***
Realizar los siguientes borrados:
 
  1. Borrar el producto con _id 3.
  2. Borrar los productos que tengan pepinillos en los vegetales
  3. Borrar los productos con precio menor a 20000

## Borrar la colección

In [ ]:
miCol.drop()

## Cerrar la Conexión

In [ ]:
mongoClient.close()

##### Manual de referencia:   https://docs.mongodb.com/manual/